<div class="container">
  <div class="img-div">
    <img class="youtube-img" src="assets/img/y.png" alt="" width="760px" height="auto" />
    <div class="text-div">
      <div class="content-text">
        <img
          src="/assets/img/youtubeAssistant3 (1).png"
          alt=""
          width="65px"
          height="auto"
        />
        <h1>YouTube Assistant</h1>
        <h2 style=" color: red">
          Это Платформа, созданная для тех, кто хочет эффективно зарабатывать на
          YouTube.
        </h2>
        <p style=" color: rgb(144, 140, 140);">
          Мы предлагаем решения, которые помогут вам достигать ваших целей
          быстро и просто. Наша задача — сделать ваш путь максимально удобным.
          Надёжность, скорость и результат — наши главные приоритеты.
          Присоединяйтесь к YouTube Assistant и начните свой путь к успеху уже
          сегодня!
        </p>
      </div>
      <button>more detalls</button>
    </div>
  </div>
  <div class="content2">
    <div class="content-informacion">
      <h2 style="text-align: center;">Почему выбирают YouTube Assistant?</h2>
        <div  class="pervalinia">
          <div class="nadojnst">
            
                <img src="/assets/img/nadojnost.png" alt=""
                width="80px"
                height="auto">
                <span >Надёжность</span>
              
       <p> Мы обеспечиваем полную безопасность всех <br>
           операций гарантируя защиту ваших данных и <br>
           средств на каждом этапе работы с платформой.</p>
          </div>

          <div class="nadojnst">
            
              <img src="/assets/img/bistrata.png" alt=""
              width="80px"
              height="auto">
              <span> Быстрота </span>
            
             <p> Мы обеспечиваем быстрые ответы <br>
               и оперативное решение задач, чтобы <br> вы не теряли времени на ожидание.  </p>

      </div>
          <div class="nadojnst expert">
          
              <img src="/assets/img/expert.png" alt=""
              width="80px"
              height="auto">
              <span>Экспертность</span>
          
             <p> Наша команда знает все тонкости <br>
              монетизации и работы с YouTube. </p>
        </div>
     
        </div>
        <div class="vatarachast">
          <div class="nadojnst">
          
              
              <img src="/assets/img/udobstva.png" alt=""
              width="80px"
              height="auto">
              <span>Удобство</span>
          
             <p> Простота взаимодействия с платформой, <br>
                доступные услуги в несколько кликов.  </p>
        </div> 
        <div class="nadojnst">
          
            
            <img src="/assets/img/result.png" alt=""
            width="80px"
            height="auto">
            <span> Результативность</span>
          
           <p> Мы нацелены на реальный результат, <br>
             который поможет вам расти и зарабатывать. </p>
      </div>
      <div class="nadojnst">
          
          <img src="/assets/img/poderjka.png" alt=""
          width="80px"
          height="auto">
          <span>Поддержка</span>
        
         <p>  Мы всегда рядом — консультируем <br>
           и 
              помогаем на всех этапах работы. </p>
    </div>
   
        </div>
        <button>смотреть видео</button>
    </div>
  </div>
</div>
