<!-- <div class="conteiner124">
<div class="svg">
    <img class="img-nik" src="assets/img/youtubeAssistant3 (1).png" alt="">
    <h1 class="nik" style="color: rgb(148, 147, 147); margin-left: 10px;">Покупаю Youtube каналы<br> продажа каналов</h1>
</div>
<div class="menu-icon" (click)="toggleMenu()">
     <img src="assets/svg/burger.svg" alt=""
     width="40px"
     height="40px">
</div>


<div class="nav-text" [ngClass]="{'active': isMenuOpen}">
    <span> <a href="#section1" (click)="onNavClick($event, 'section1')">НАЧАЛО</a></span>  
    <span> <a href="#section2" (click)="onNavClick($event, 'section2')" >ОБО МНЕ</a></span>  
    <span> <a href="#section3" (click)="onNavClick($event, 'section3')" >КАНАЛЫ</a></span>  
    <span> <a href="#section4" (click)="onNavClick($event, 'section4')" >ПРЕИМУЩЕСТВА</a></span>  
    <span> <a href="#section5" (click)="onNavClick($event, 'section5')" >ОТЗЫВЫ</a></span>  
    <span> <a href="#section6" (click)="onNavClick($event, 'section6')" >ЗАРАБОТАЙ</a></span>  
    <span> <a href="#section7" (click)="onNavClick($event, 'section7')" >РЕСУРСЫ</a></span>  
  </div>
</div> -->